.containers{
    margin-top:15px;
}
.team-container:hover{
    background-color: rgba(248, 252, 202, 0.835);  
}
.team-container{
    border: 1px solid rgb(10, 10, 10);
    margin: 20px;
    padding:20px;
    border-radius:10px;
    width: 298.5px;
    height:300px;
    text-align:center;
    background-color:hsl(0, 0%, 100%);
    color:rgb(0, 0, 0);
}
.team-container img{
    width:100px;
    border-radius:5px
}
.main-button{
    margin-bottom:50%;
    width:100px;
    height:40px;
    border-radius:5px;
    background-color:rgb(69, 37, 247);
    color: white;
    text-decoration: none;
    border:none;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
